<template>
    <footer class="page-footer" style="background-color: teal; font-family: inherit;">
    <div class="row">
      <div class="col l6 m6 s12">
        <h5 class="black-text">A propos</h5>
        <p class="black-text text-lighten-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </div>
      <div class="col l3 m3 s12">
        <h6 class="black-text">Mentions légales</h6>
        <ul>
          <li><a class="black-text text-lighten-3" href="#!">HTML5</a></li>
          <li><a class="black-text text-lighten-3" href="#!">CSS3</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Bootstrap 3</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Bootstrap 4</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Material Design</a></li>
        </ul>
      </div>
      <div class="col l3 m3 s12">
        <h6 class="black-text">Liens</h6>
        <ul>
          <li><a class="black-text text-lighten-3" href="#!">Réception</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Distribution</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Rapport réception</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Rapport distribution</a></li>
          <li><a class="black-text text-lighten-3" href="#!">Contactez-nous</a></li>
        </ul>
      </div>
    </div>
  <div class="footer-copyright">
        <div class="col l6 m6 s12">&copy; Copyright © 2022-Tous droits réservés<a class="black-text text-lighten-4" href="http://www.freetimelearning.com/" target="_blank"></a></div>
        
        <div class="col l6 m6 s12"><a class="black-text text-lighten-4 right" href="http://www.freetimelearning.com/" target="_blank">OCOPP</a></div>
  </div>
</footer>

</template>

<script>
export default {
    setup() {
        
    },
}
</script>

<style>
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

</style>